*{
    /* this remove margin and padding from all elements */
    margin: 0px;
    padding: 0px;
    /* this make pasding and border part of width */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#nav-div{
    background-color: lightcoral;
    width: 100%;
    min-height: 50px;
    padding-left:2%;
    line-height: 50px;
    margin-bottom: 10px;
  
}




#contectus-div{
    width: 100%;
    min-height: 400px;
    background-color: lightgray;
	margin-bottom: 10px;
}
#address-div{
    width: 100%;
    min-height: 400px;
    background-color: lightblue;
    
}
#map-div{
	width: 100%;
    min-height: 400px;
    background-color: lightslategray;
}
