body{
	margin: 0;
}
.container{
	width: 100vw;
	height:100vh;
	/* this condainer take width and hight of all pade */
	font-weight: bold;
	font-size: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 1fr 100px;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.container div{
	padding: 10px;
	border: 1px solid;
}
.header{
	grid-column-start: 1;
	grid-column-end: 4;
}
.map{
	grid-row-start: 2;
	grid-row-end: span 2;
	grid-column-start: 1;
	grid-column-end: 3;
}
.content{
	grid-row-start: 2;
	grid-row-end: span 2;
	grid-column-start: 3;
	grid-column-end: 4;
}
.footer{
	grid-column: 1/4;
}
.info{
	gap: 10px;
	padding: 10px;
}

